@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Restaurant</h1>
    <p class="lead">Welcome to Test Restaurant</p>

    <img src="~/Images/restaurant.jpg" alt="Restaurant"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Location</h2>
        <p>We are located at 1430 Trafalgar Rd, Oakville.</p> <p>North of the 403, South of Upper Middle</p>
        <p><a class="btn btn-default" href="https://www.google.ca/maps/place/Sheridan+College/">Map &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>We are a new restaurant that is currently being built on campus</p>
        <p><a class="btn btn-default" href="http://www.thessu.ca/unionsquare/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>You can contact us by calling 1-(905)-555-5555 or by email below </p>
        <p><a class="btn btn-default" href="mailto:taactap@email.com">Email &raquo;</a></p>
    </div>
</div>